.logo_dhu{
  display: block;
  width: 246px;
  height:57px;
  margin-left: 40px;
}
.App-header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(27, 27, 27, 1);
  z-index: 2;
}
.wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 30px;
}
