body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b1b1b;
  font-size: 16px;
  height: 100%;
  margin: 0 auto;
}
ul ,
ul li{
    margin:0;
   padding: 0;
   text-indent: 0;
   list-style-type: 0;
   list-style: none;
}
h3 ,
h2{
  margin: 0;
}
.ocbtn{
  text-decoration: none;
  color:#ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #000000;
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  max-width: 320px;
  text-align: center;
  height:36px;
  margin-top: 40px;
}
.text1{
font-size: 1.5rem;
color: #ffffff;
font-weight: bold;
width: 100vh;
margin-left: 40px;
padding-top: 40px;
line-height: 40px;
}
.topimage{
  background-image:url("../images/web_hero_large.jpg");
  background-position:center;
  background-size:cover;
  height: 50vh;
}

.scrollbtn {
  position: absolute;
  bottom: 20px;
  left: 75%;
  z-index: 1;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: none;
  padding-top: 60px;
  color: #ffffff;
}
.scrollbtn span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}