body{
    font-size: 16px;
}
.ul{
    display: flex;
    justify-content: space-between;
    margin-right:140px ;
}
.ul li+li{
    padding-left:64px ;
}
li a{
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
.nav1:hover,
.nav2:hover,
.nav3:hover,
.nav4:hover{
    text-shadow:0 0 10px #ffffff;
    transition: 0.4s;
}
.nav1,
.nav2,
.nav3,
.nav4{
    transition: 0.4s;
}


