.others{
    height: 80vh;
}
.others-head{
    font-size: 4.5rem;
    color: #ffffff;
    margin-top: 25vh;
    text-align: center;
}
.backbtn{
    text-decoration: none;
    color:#ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #000000;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    max-width: 320px;
    text-align: center;
    height:36px;
}
.others-box{
    display: grid;
    justify-content: center;
    max-width: 100vw;
    grid-template-columns:repeat(4, 20vw);
    grid-template-rows:repeat(2, 25vh);
    margin-top: 48px;
    margin-bottom: 48px;
}
.grid1{
    grid-row: 1;
    grid-column: 1;
}
.grid2{
    grid-row: 1;
    grid-column: 2;
}
.grid3{
    grid-row: 1;
    grid-column: 3;
    
}
.grid4{
    grid-row: 1;
    grid-column: 4;
    
}
.grid5{
    grid-row: 2;
    grid-column: 1;
    
}
.grid6{
    grid-row: 2;
    grid-column: 2;
    
}
.grid7{
    grid-row: 2;
    grid-column: 3;
    
}
.grid8{
    grid-row: 2;
    grid-column: 4;
}
.grid-image_3dcg{
    background-image: url("../images/3dcg_hero_large.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
}
.grid-image_game{
    background-image: url("../images/feature_technique_large.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
}
.grid-image_mov{
    background-image: url("../images/movie_hero_large.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
}
.grid-image_gra{
    background-image: url("../images/graphic_hero_large.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
}
.grid-image_ani{
    background-image: url("../images/animation_hero_large.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
}
.grid-image_web{
    background-image: url("../images/web_hero_large.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
}
.grid-image_med{
    background-image: url("../images/media_hero_large.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
}
.grid-image_bus{
    background-image: url("../images/business_hero_large.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
}
.grid-text{
    font-size: 1rem;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding-left: 16px;
    padding-top: 20vh;
    display: block;
}
.copy{
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #f60;
}