.roubtn{
    margin-bottom: 40px;
    text-decoration: none;
    color:#ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #000000;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    max-width: 320px;
    text-align: center;
    height:36px;
    padding: 5px 5px;
    transition: 0.5s;
}
.roubtn:hover{
    background-color: #f60;
    transition: 0.4s;
    color: #ffffff;
}
.route-head{
    font-size: 4.5rem;
    color: #ffffff;
    margin-top: 200px;
    text-align: center;
    margin-bottom: 32px;
}
.wada-image{
    max-width: 40vw;
    height: auto;
    margin: auto;
    display: block;
    margin-bottom: 32px;
}
.route-name{
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    padding-bottom: 16px;
}
.route-para{
    color: #ffffff;
    max-width: 50vw;
    margin: auto;
    margin-bottom: 32px;
}
.route{
    height: 70vh;
}